.ui.borderless.topmenu.menu {
  background-color: black;
  color: white;
  box-shadow: none;
  border: none;
}


.middle-background{
  background-color: darkorange;
  border: none;
  padding-top: 30px;
}

.footer-background{
  background-color: black;
  padding-top: 50px;
}